<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Black Socks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico">

    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/font-awesome.css" rel="stylesheet" />
    <link href="../css/style_basic.css" rel="stylesheet" type="text/css" />
    <link href="../css/style_view.css" rel="stylesheet" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,500,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="../js/superfish.min.js" type="text/javascript"></script>
    <script src="../js/script.js" type="text/javascript"></script>
    <script src="../js/script_view.js" type="text/javascript"></script>


</head>

<body>

    <!-- Navigation-->
    <div id="navbar">

        <header>

            <div class="menu_block">

                <div class="container">

                    <a class="menu_toggler menu_closed" id="mobile_menu"><span class="fa fa-align-justify"></span></a>

                    <div class="logo">
                        <a href="index.html">
                            <span class="b1">s</span><span class="b2">a</span><span class="b3">fa</span><span class="b4">re</span><span class="b5">e</span>
                            <span class="b1">a</span><span class="b2">p</span><span class="b3">pa</span><span class="b4">re</span><span class="b5">l</span></a>
                    </div>

                    <div id="search-form" class="pull-right">
                        <form method="get" action="#">
                            <input type="text" name="Search" value="Search" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
                        </form>
                    </div>

                    <!-- MENU -->
                    <div class="pull-right">
                        <nav class="navmenu center">
                            <ul>
                                <li class="first scroll_btn"><a href="../index.html">Home</a></li>
                                <li class="scroll_btn"><a href="../aboutus.html">About Us</a></li>
                                <li class="active scroll_btn"><a href="../product.html">Products</a></li>
                                <li class="scroll_btn last"><a href="../contact.html">Contacts</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </header>
    </div>

    <section class="page_navigator">
        <span class="page_link" id="firstLink"><a href="../product.html">PRODUCTS</a></span>
        <i class="fa fa-chevron-right"></i>
        <span class="page_link"><a href="">Black Socks</a></span>
        <div id="product_name">black-socks</div>
    </section>

    <section id="container">

        <div class="product_page">

            <section class="image_area">

                <div id="product_main_image" class="product_main_image">

                    <img id="main_image" src="../images/black-socks/img1.jpg" alt="Pair of black socks">

                </div>

                <div class="other_images_area">

                    <span class="scroll_left"><i class="fa fa-chevron-left"></i></span>
                    <div id="abc" class="product_other_images">
                        <span id="img1" class="otherImages active"><img alt="socks" src="../images/black-socks/img1.jpg"></span>
                        <span id="img2" class="otherImages"><img alt="socks" src="../images/black-socks/img2.jpg"></span>
                        <span id="img3" class="otherImages"><img alt="socks" src="../images/black-socks/img3.jpg"></span>
                        <span id="img4" class="otherImages"><img alt="socks" src="../images/black-socks/img4.jpg"></span>
                        <span id="img5" class="otherImages"><img alt="socks" src="../images/black-socks/img5.jpg"></span>
                        <span id="img6" class="otherImages"><img alt="socks" src="../images/black-socks/img6.jpg"></span>
                        <span id="img7" class="otherImages"><img alt="socks" src="../images/black-socks/img7.jpg"></span>
                    </div>
                    <span class="scroll_right"><i class="fa fa-chevron-right"></i></span>

                </div>

                <div class="description" id="des_image">

                    <h4>Description</h4>
                    <div><i class="fa fa-circle"></i> Best Quality</div>
                    <div><i class="fa fa-circle"></i> Best Quality</div>
                    <div><i class="fa fa-circle"></i> Best Quality</div>
                    <div><i class="fa fa-circle"></i> Best Quality</div>

                </div>

                <div class="sticker sticker-sale"></div>



            </section>

            <section class="details_area">

                <h1>Pair of Black Socks</h1>

                <div class="price_details">

                    <div class="price">
                        <strong><span>$</span>20.00</strong>
                        <em>$<span>25.00</span></em>
                    </div>

                    <div class="availability">
                        Availability: <strong>In Stock</strong>
                    </div>



                </div>

                <div class="shop_area">
                    <a href=""><span class="product_cart">Shop Now</span></a>
                </div>


                <div class="description">
                    <p>Lorem ipsum dolor ut sit ame dolore adipiscing elit, sed nonumy nibh sed euismod laoreet dolore magna aliquarm erat volutpat Nostrud duis molestie at dolore.</p>
                    <p>Lorem ipsum dolor ut sit ame dolore adipiscing elit, sed nonumy nibh sed euismod laoreet dolore magna aliquarm erat volutpat Nostrud duis molestie at dolore.</p>
                    <p>Lorem ipsum dolor ut sit ame dolore adipiscing elit, sed nonumy nibh sed euismod laoreet dolore magna aliquarm erat volutpat Nostrud duis molestie at dolore.</p>

                    <div id="des_details">
                        <h4>Description</h4>
                        <div><i class="fa fa-circle"></i> Best Quality</div>
                        <div><i class="fa fa-circle"></i> Best Quality</div>
                        <div><i class="fa fa-circle"></i> Best Quality</div>
                        <div><i class="fa fa-circle"></i> Best Quality</div>
                    </div>

                </div>

            </section>
        </div>



    </section>

    <section id="footer">

        <div id="footer_sec2">
            <h2>SAFAREE APPAREL</h2>
            <p>xyz street 19 Morristown New Jersey USA</p>
            <br>
            <p>Phone: 9732268181</p>
            <p>Email: xyz@gmail.com</p>
        </div>

        <div id="footer_sec1">
            <h3>SUPPORT</h3>
            <a href="contact.html">Contact Us</a><br>
            <a href="aboutus.html">Get Help</a>
            <br>
            <br>
            <p>© Copyright 2021 Safaree Apparel. All Rights Reserved. </p>
            <ul class="social-icons">
                <li>
                    <a href=""><i class="fa fa-facebook"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa fa-instagram"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </li>

            </ul>
        </div>

    </section>

</body>

</html>